
.footer {
    background: #5F6DF7;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}
.footer-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.footer-section {
    padding: 20px 0;
    margin-bottom: 40px;
}

.footer-logo {
    width: 200px;
}

.payments img {
    width: 60px;
    margin-right: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.payments img:hover {
   transform: scale(1.5);

}

.footer-section h3, 
.footer-section h4 {
    margin-bottom: 10px;
}
.socials a i {
    font-size: 30px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
    border-radius: 50%;
}

.socials a i:hover {
    transform: scale(1.2);
}

.footer p {
    font-size: 14px;
}

.footer .copyright {
    text-align: center;
    margin-top: 20px;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
    .payments img {
        margin-bottom: 10px;
    }
}
