/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #333;
    background: #fff;
    /* padding: 0 20px; */
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 9%;
    gap: 10px;
    background-color: white;
}
.A_propos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 80px; 
}


header {
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu-burger {
    width: 100%;

    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 100px;
    /* background-color: #ac7fec; */
    padding-inline: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
   background-color: #F09835;
}

.burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
}

.burger span {
    display: flex;
    height: 4px;
    background: #333;
    border-radius: 4px;
}

#menu-toggle {
    display: none;
}

nav {
    position: absolute;
    top: 130px;
    left: 50px;
    background-color: rgb(238, 230, 220);
    width: 250px;
    height: 370px;
    margin-top: 70px;
    border-radius: 6px;
    display: none;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px;
    border-bottom: 1px solid #0FB02B;
}
nav a:hover{
     color: #fff;

}

/* si checkbox activé → afficher menu */
#menu-toggle:checked~nav {
    display: flex;
}

.entete {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tan; */
    width: 100%;
    height: 100px;
    padding-inline: 80px;
    gap: 30px;
}

.entete img {
    width: 300px;
}

.direct_rech {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 157, 55);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.code_rech {
     width: 300px;
    height: 50px;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid rgb(238, 230, 220);
    background-color: rgb(255, 255, 255);
    outline: none;
}
.trading {
    display: flex;
    align-items: center;
    height: 100px;
    display: flex;
    /* padding-top: 20px; */
}

::placeholder {
    font-size: 18px;
}

button {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.nav {
    /* width: 50%; */
    padding-left: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 24px;
    margin-right: 19px;
    padding-right: 5px;
    color: #333;
}

.nav a:hover {
    color: #2ec4b6;
}


/* -------------------- SECTION HERO -------------------- */

.bienvenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20%;
    padding: 60px 0;
    gap: 40px;
    width: 100%;
}

.bienvenu_text h1 {
    font-size: 32px;
    font-weight: 700;
}

.bienvenu_text h1 span {
    color: #6c7bff;
}

.bienvenu_text p {
    font-size: 16px;
}

.bienvenu_img img {
    width: 420px;
    border-radius: 10px;
    object-fit: cover;
}

/* -------------------- MISSION -------------------- */

.mission {
    text-align: center;
    padding: 60px 20px;
}

.mission h2 {
    font-size: 32px;
    color: #f5a623;
}

.mission p {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}


/* -------------------- AVANTAGES -------------------- */

.pourquoi {
    text-align: center;
    padding: 60px 0;
}

.pourquoi h2 {
    font-size: 32px;
    color: #f5a623;
}

.text_pourquoi {
    margin-top: 10px;
    font-size: 18px;
}

.pourquoi_contenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 40px 0;
}

.carte {
    border: 1px solid #eee;
    padding: 25px;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    background: linear-gradient(white) padding-box,
}

.carte:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid #F6A622;
}

.carte img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 15px;
    border: 10px solid #f5a623;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 100px;
}





/* creer un compte------------------------- */

.poppop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(3px);
}

.compte_kassouwa {
    position: relative;
    top: 4%;
    width: 600px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    overflow-y: auto;
    background-color: rgb(249, 240, 240);
    box-shadow: 0 0 0 1px black;
}

#connecting:target {
    left: 0;
}

.compte_kassouwa h1 {
    color: #C6341E;
    text-shadow: 1px 1px 0px #000000;
}

.utilisateur {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.utile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 239, 144);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.utile i {
    color: #3a15e0;
    font-size: 20px;
}

.code_utile {
    width: 400px;
    height: 50px;
    font-size: 12px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(238, 230, 220);
    ;
    background-color: white;
    outline: none;
}

a{
    text-decoration: none;
}

.code_utile::placeholder {
    font-size: 13px;
}

.utilisateur_check {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.check {
    width: 18px;
}

.paragrah {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 30px;
}

.login {
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    background-color: #2ec4b6;
    color: white;
}

.login:hover {
    background-color: #333;
}

.compte_kassouwa h5 {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
}

.reseau {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    background-color: #C6341E;
    color: white;
    gap: 10px;
}

.email:hover {
    background-color: #832213;
}

.facebook:hover {
    background-color: #2c3c68;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    background-color: #4E6297;
    color: white;
    gap: 10px;
}

.ferme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #4E6297;
    color: white;
    cursor: pointer;
}

.ferme a {
    color: white;
}

/* fin du creer du compte----------------------------------- */

/* panier ____---------------- */
.Pop_panier {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: #e1d3d325;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(3px);
}

.panier_choopping {
    position: relative;
    top: 2%;
    width: 350px;
    height: 700px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 0 1px black;
}

#choopp:target {
    left: 0;
}

.choopping {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    color: red;
}

.chooping_contenus {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
}

.chooping_contenus h4 {
    font-size: 22px;
}

.chooping_contenus i {
    font-size: 60px;
    color: #de2c11;
}

.tatal {
    display: flex;
    justify-content: space-between;
}

.mod_de_payement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: #2ec4b6;
}

.mod_de_payement:hover {
    background-color: #7992de;
    cursor: pointer;
    color: white;
}

.choopping_footer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}


.footer {
    width: 100%;
   background-color: #F09835;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    bottom: 0;
    color: #000000;
}

.footer-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.footer-section {
    padding: 20px 0;
    margin-bottom: 40px;
}

.footer-logo {
    width: 200px;
}

.payments img {
    width: 60px;
    margin-right: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.payments img:hover {
    transform: scale(1.5);

}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
}

.socials a i {
    font-size: 30px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
    border-radius: 50%;
}

.socials a i:hover {
    transform: scale(1.2);
}

.footer p {
    font-size: 14px;
}

.footer .copyright {
    text-align: center;
    margin-top: 20px;
    opacity: 0.8;
} 

/* ------------------------------- */

@media (max-width: 1440px) {
    input {
        width: 350px;
    }

    .menu-burger {
        align-items: center;
        justify-content: center;
        height: 70px;
    }

    main {
        padding-top: 14%;
    }

    .compte_kassouwa,
    .panier_choopping {
        position: absolute;
        top: 20%;
    }
}

/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 1024px) {

    main {
        padding-top: 20%;
    }

    .entete {
        padding-inline: 20px;
        gap: 20px;
    }

    .nav {
        width: 600px;
    }

    .entete img {
        width: 200px;
        height: 120;
    }

    .menu-burger {
        font-size: 10px;
        padding-inline: 40px;
    }

    .bienvenu {
        flex-direction: column;
        text-align: center;
    }

    .bienvenu_img img {
        width: 650px;
    }

    .pourquoi_contenu {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .menu-burger {
        padding-inline: 20px;
    }

    .entete {
        padding-inline: 20px;
        gap: 10px;
    }

    button a {
        font-size: 14px;
    }

    input::placeholder {
        font-size: 13px;
    }

    .entete input {
        width: 240px;
    }

    main {
        padding-top: 31%;
    }

    .nav {
        width: 450px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 12px;
    }

    .nav a {
        margin: 0;
        font-size: 18px;
    }

    .bienvenu {
        padding: 0;
    }

    .bienvenu_img img {
        width: 350px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section {
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 0px;
    }
    .payments img {
        margin-bottom: 10px;
    }
}


@media (max-width: 425px) {
    .menu-burger {
        padding-inline: 10px;
    }

    .menu-burger h1 {
        font-size: 13px;
    }

    .compte_kassouwa,
    .panier_choopping {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 6px;
        padding: 0;
    }

    .nav a {
        margin: 0;
        font-size: 15px;
    }

    .entete input,
    button {
        display: none;
    }

    main {
        padding-top: 42%;
    }

    .pourquoi_contenu {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 375px) {
    main {
        padding-top: 56%;
        width: 100%;
    }

    .menu-burger {
        padding-inline: 10px;
        height: 200px;
    }

    .menu-burger h1 {
        font-size: 14px;
    }

    .compte_kassouwa,
    .panier_choopping,
    .mes_contact {
        display: none;
    }

    .nav {
        width: 440px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 6px;
        padding: 0;
    }

    .nav a {
        margin: 0;
        font-size: 10px;
    }

    .entete input,
    button {
        display: none;
    }
}

@media (max-width: 320px) {
    main {
        padding-top: 67%;
    }

    .bienvenu_img img {
        width: 250px;
    }

}