*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   

body {
    background-color: #f5f5f5;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 11%;
    gap: 10px;
    background-color: white;
}


header {
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu-burger {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: #ac7fec; */
    padding-inline: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
   background-color: #F09835;
}
.burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
}

.burger span {
    display: flex;
    height: 4px;
    background: #333;
    border-radius: 4px;
}

#menu-toggle {
    display: none;
}

nav {
    position: absolute;
    top: 130px;
    left: 50px;
    background-color: rgb(238, 230, 220);
    width: 250px;
    height: 370px;
    margin-top: 60px;
    border-radius: 6px;
    display: none;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* si checkbox activé → afficher menu */
#menu-toggle:checked~nav {
    display: flex;
}

.entete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-inline: 80px;
    gap: 30px;
}

.entete img {
    width: 300px;
}

.direct_rech {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 157, 55);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.code_rech {
     width: 300px;
    height: 50px;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid rgb(238, 230, 220);
    background-color: rgb(255, 255, 255);
    outline: none;
}
::placeholder {
    font-size: 18px;
}

button {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.nav {
    /* width: 50%; */
    padding-left: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 24px;
    margin-right: 19px;
    padding-right: 5px;
    color: #333;

}

.trading {
    display: flex;
    align-items: center;
    height: 100px;
    display: flex;
    /* padding-top: 20px; */
}


.nav a:hover {
     color: #fff;
}

.accueil{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: #fff;
  border-radius: 25px;
  margin: 40px auto;
  width: 90%;
  max-width: 1300px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.hero-left h1 {
    font-size: 45px;
    line-height: 1.3;
    color: #202124;
    margin-bottom: 30px;
}

.higlight-gold {
    color: #0e5226;
    font-weight: 600;
}

.higlight-orange {
  color: #eeac32;
  font-weight: 600;
}

.btn {
  display: inline-block;
  background: #6e77ff;
  color: #fff;
  padding: 14px 28px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s ease;
}

.btn:hover {
  background: #555ee0;
}

.guarantee {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.guarantee i {
    width: 10px;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icone p {
  font-size: 25px;
  color: #202124;
}

.hero-right {
    position: relative;
}

.panier {
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.panier img {
    width: 350px;
  border-radius: 20px;
}

/* ----- SECTION ----- */
.popular-products {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.popular-products h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* ----- TABS ----- */
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #555;
}

.tabs span {
  cursor: pointer;
}

.tabs .active {
  border-bottom: 2px solid #0FB02B;
  padding-bottom: 3px;
  font-weight: bold;
}

/* ----- GRID ----- */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

/* ----- PRODUCT CARD ----- */
.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* Badge "Nouvel arrivage" */
.badge {
  background: #EEAD33;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Image produit */
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Titre */
.product-card h3 {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Stars */
.stars {
  font-size: 13px;
  color: #bbb;
  margin-bottom: 5px;
}

.stars span {
  color: #777;
}

/* Prix */
.price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}


/* creer un compte------------------------- */

.poppop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(3px);
}

.compte_kassouwa {
    width: 600px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    overflow-y: auto;
    background-color: rgb(249, 240, 240);
    box-shadow: 0 0 0 1px black;
}

#connecting:target {
    left: 0;
}

.compte_kassouwa h1 {
    color: #C6341E;
    text-shadow: 1px 1px 0px #000000;
}

.utilisateur {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.utile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 239, 144);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.utile i {
    color: #3a15e0;
    font-size: 20px;
}

.code_utile {
    width: 400px;
    height: 50px;
    font-size: 12px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(238, 230, 220);
    ;
    background-color: white;
    outline: none;
}

.code_utile::placeholder {
    font-size: 13px;
}

.utilisateur_check {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.check {
    width: 18px;
}

.paragrah {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 30px;
}

.login {
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    background-color: #2ec4b6;
    color: white;
}

.login:hover {
    background-color: #333;
}

.compte_kassouwa h5 {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
}

.reseau {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    background-color: #C6341E;
    color: white;
    gap: 10px;
}

.email:hover {
    background-color: #832213;
}

.facebook:hover {
    background-color: #2c3c68;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    background-color: #4E6297;
    color: white;
    gap: 10px;
}

.ferme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #4E6297;
    color: white;
    cursor: pointer;
}

.ferme a {
    color: white;
}

/* fin du creer du compte----------------------------------- */

/* panier ____---------------- */
.Pop_panier {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: #e1d3d325;
    position: absolute;
    position: fixed;
    backdrop-filter: blur(3px);
}

.panier_choopping {
    width: 350px;
    height: 700px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 0 1px black;
}

#choopp:target {
    left: 0;
}

.choopping {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    color: red;
}

.chooping_contenus {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
}

.chooping_contenus h4 {
    font-size: 22px;
}

.chooping_contenus i {
    font-size: 60px;
    color: #de2c11;
}

.tatal {
    display: flex;
    justify-content: space-between;
}

.mod_de_payement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    background-color: #2ec4b6;
}

.mod_de_payement:hover {
    background-color: #7992de;
    cursor: pointer;
    color: white;
}

.choopping_footer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}


.footer {
    width: 100%;
   background-color: #F09835;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    bottom: 0;
    color: #000000;
}
a {
  text-decoration: none;
}

.footer-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    padding: 20px 0;
    margin-bottom: 40px;
}

.footer-logo {
    width: 200px;
}

.payments img {
    width: 60px;
    margin-right: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.payments img:hover {
    transform: scale(1.5);

}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
}

.socials a i {
    font-size: 30px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
    border-radius: 50%;
}

.socials a i:hover {
    transform: scale(1.2);
}

.footer p {
    font-size: 14px;
}

.footer .copyright {
    text-align: center;
    margin-top: 20px;
    opacity: 0.8;
}


@media (max-width: 1440px) {
    input{
        width: 350px;
    }
    .menu-burger{
        align-items: center;
        justify-content: center;
        height: 70px;
    }
   
     main {
        padding-top: 14%;
    }
    .compte_kassouwa, .panier_choopping {
    position: absolute;
    top: 20%; 
    }
}

@media (max-width: 1024px) {
    main {
        padding-top: 20%;
    }
     .entete{
      padding-inline: 20px;
        gap: 20px;
    }
    .nav{
      width: 600px;
    }
     .entete img{
        width: 200px;
        height: 120;
    }
    .menu-burger{
      font-size: 10px;
      padding-inline: 40px;
    }
  }

@media (max-width: 768px) {
  .menu-burger{
    padding-inline: 20px;
  }
  .entete{
    padding-inline: 20px;
    gap: 10px;
  }
  button a{
    font-size: 14px;
  }
  input::placeholder{
    font-size: 13px;
  }
  .entete input{
    width: 240px;
  }
   main {
        padding-top: 31%;
    }
   .nav{
    width: 450px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
  }
  .nav a{
    margin: 0;
    font-size: 18px;
  }

  .accueil {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
  }

  .hero-left h1 {
    font-size: 32px;
  }

  .btn {
    font-size: 16px;
    padding: 12px 24px;
  }

  .guarantee {
    justify-content: center;
  }

  .icone p {
    font-size: 20px;
  }

  .hero-right {
    margin-top: 30px;
  }

  .panier {
    width: 300px;
    height: auto;
  }

  .panier img {
    width: 100%;
  }

  /* Produits */
  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .footer {
    width: 100%;
   background-color: #F09835;
    color: #fff;
    padding: 10px 10px;
    font-family: Arial, sans-serif;
    bottom: 0;
    color: #000000;
  }
    .footer-container {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }

    .footer-section {
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 0px;
    }

    .payments img {
        margin-bottom: 10px;
    }


}

@media (max-width: 425px) {
  main{
    padding-top: 45%;
  }

  .menu-burger{
    padding-inline: 10px;
  }
  .menu-burger h1{
    font-size: 13px;
  }
  .compte_kassouwa,.panier_choopping {
            display: none;
        }
  .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    padding: 0;
  }
  .nav a{
    margin: 0;
    font-size: 12px;
  }
  .entete input, button{
    display: none;
  }

  .accueil {
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
  }

  .hero-left h1 {
    font-size: 26px;
    line-height: 1.2;
  }

  .btn {
    font-size: 15px;
    padding: 10px 20px;
  }

  .icone p {
    font-size: 18px;
  }

  .panier {
    width: 220px;
  }

  .panier img {
    width: 220px;
  }

  /* Tabs alignées en vertical */
  .tabs {
    flex-wrap: wrap;
    font-size: 14px;
    gap: 10px;
  }

  /* Grille produits → 2 colonnes */
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .product-card {
    padding: 15px;
  }

  .product-card img {
    height: 130px;
  }

  .product-card h3 {
    font-size: 12px;
  }

  .price {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .menu-burger{
    /* flex-direction: column; */
    gap: 6px;
    height: 200px;
    padding-top: 10px;
  }
  .menu-burger h1{
    font-size: 11px;
  }
    .nav{
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    padding: 0;
  }
  .nav a{
    margin: 0;
    font-size: 10px;
  }
   main{
    padding-top: 47%;
  }
  main h1{
    font-size: 24px;
  }

}
@media (max-width: 320px) {
   main {
        padding-top: 59%;
    }

    .menu-burger h1 {
        font-size: 8px;
    }

    .nav a {
        font-size: 10px;
    }

} 



